*{
    margin: 0px;
    padding: 0px;
    font-family: 'Kiwi Maru', serif;
    /* outline: 1px solid black;  */
    border: border-box;
    color: black;
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 100%;
    height: 10vh;
    position: fixed;
    font-weight: 600;
}
#navbar::before{
    content: " ";
    position: absolute;
    background-color: #C3E5C9;
    height: 14.5vh;
    width: 100%;
    z-index: -1;
}
.right{
    width: 90%;
}
.right ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin: 0px 0px 0px 18vw;
}
.right ul li{
    text-align: center;
}
.right ul li a{
   text-decoration: none;
   padding: 2px 6px 4px 6px;
   border-radius: 30px;
}
.right ul li a:hover{
    padding: 6px 20px 6px 20px;
    background-color:  #4A8645;
    color: white;
    border-radius: 30px;
 }
.left{
    padding: 0px 0px 15px 2.5vw;
}
.left img{
    height: 10vh;
    width: 16vw;
}
.right ul li img{
    cursor: pointer;
    height: 2.5vw;
    width: 2.5vw;

}
.complete-box::before{
    content: " ";
    position: absolute;
    background-color: #E3F4E5;
    height: 437%;
    width: 100%;
    z-index: -1;
}
.complete-box{
    padding: 86px 0px 0px 0px;
    height: 425vh;
}

/* search bar and heading */
.text-search{
    display: flex;
    justify-content: space-between;
}
.text-search .blog-heading{
    width: 30%;
    padding: 30px 0px 0px 50px;
}
.text-search h1{
    padding-bottom: 10px;
}
.text-search .searchbar{
    display: flex;
    width: 29vw;
    height: 7vh;
    background-color: #C3E5C9;
    margin: 34px 30px 0px 0px;
    border-radius: 30px;

}
.text-search .searchbar img{
    padding: 7px 4px 2px 9px;
    height: 4.5vh;
    width: 2.4vw;
}
.search-blogs{
   font-weight: 600;
   outline: none;
   width: 100%;
   border-radius: 30px;
   border: none;
   background-color: #C3E5C9;
}

/* section blog boxes */
.blog-boxes{
    height: 330vh;
}
.box-row1{
    display: flex;
    align-items: center;
    width: 90%;
    height: 45vh;
    padding-left: 40px;
    gap: 50px;
}
.box-row1 .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 39vh;
    width: 45vh;
}
.box img{
    padding-top: 10px;
    height: 28vh;
    width: 34vh;
}
.box a{
    text-decoration: none;
    padding-left: 10px;
}
.blog-boxes h1{
    margin: 30px 0px 0px 50px;
}
.more img{
    height: 8vh;
    width: 4vw;
}
 /* footer with pic */
 
 .end-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;  
 }
 .end-pic img{
    height: 60vh;
    width: 30vw;
 }
/* footer page styling */
footer::before{
    content: " ";
    position: absolute;
    background-color:  #5c9e69;
    height: 9%;
    width: 100%;
    z-index: -1;
}
footer h5 {
    color: white;
    font-size: 1.10rem;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
}
.footer img{
    height: 3.5vh;
    width: 2vw;
    padding: 3px 3.5px 0px 0px;
}
 /* login/tellus/sign-up page styling */
dialog button {
    margin-top: 23px;
    background-color: #E3F4E5;
    color:#669F77;
    width: 129.875px;
    height: 33.839px;
    border-radius: 23.903px;
    flex-shrink: 0;
    border: 1px solid #669F77 ;
    cursor: pointer;
}
#authDialog1 {
 
    width: 50.38vw;
    padding: 0px;
    border: none;
}

dialog a {
    color: white;
}
#password1 {
    margin: 0px 0px 0px 105px;
}
dialog {
    margin: 72px 100px 72px 350px;
    background-color: #E3F4E5 ;
}
dialog .left1{
    padding: 56px 23px 23px 23px;
    width: 56%;
    border-radius: 0px 39.77px 39.77px 0px;
    background-color: #669F77 ;
}
dialog h1 {
    color: white;
    font-size: 2rem;
}
dialog h2 {
    margin: 12px 0px 17px 0px;
    color: white;
    font-size: 1.05rem;
}
label {
  color: white;
}
input {
    margin:10px 0px 12px 0px;
    border: none;
    width: 15vw;
    height: 29.962px;
    flex-shrink: 0;
    border-radius: 23.903px;
background: #D9D9D9;
}
dialog .right2 {
    padding: 23px 0px 0px 0px;
}
.cross{
    padding: 9px ;
    height: 23px;
    width: 23px
}
.farmer {
    padding: 0px 0px 30px 6px;
    height: 45vh;
    width: 22vw;
}
dialog h3 {
    text-align: center;
    margin: 23px 0px 45px 37px;
    font-size: 2.5rem;
}
/* style for sign up pages */
#authDialog2 {
    width: 50.38vw;
    /* display: flex;  */
    flex-direction: row;
    padding: 0px;
    border: none;
    }
dialog .container {
    display: flex;
}
.namaste {
    margin: 65px 0px 125px 23px;
    height: 48vh;
    width: 21vw;
}
/* style for tell us more pages */
#authDialog3 {
    width: 50.38vw;
     flex-direction: row;
    padding: 0px;
    border: none;
    }
    .professions {
        margin: 65px 0px 125px 2px;
    height: 48vh;
    width: 25vw;
    }
    #dob {
        width: 12vw;
        margin: 10px 0px 0px 0px;
        cursor: pointer;
        padding: 0px 23px 0px 23px;
    }
