*{
    margin: 0px;
    padding: 0px;
    font-family: 'Kiwi Maru', serif;
    /* outline: 1px solid black;  */
    border: border-box;
    color: black;
    scroll-behavior: smooth;
}
#navbar{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 100%;
    height: 10vh;
    font-weight: 600;
    position: fixed;
    scroll-behavior: smooth;
    color: black;
}
#navbar::before{
    content: " ";
    position: absolute;
    background-color: #C3E5C9;
    height: 10vh;
    width: 100%;
    z-index: -1;
}
.right{
    width: 90%;
}
.right ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin: 0px 0px 0px 18vw;
}
.right ul li{
    text-align: center;
}
.right ul li a{
   text-decoration: none;
   padding: 2px 6px 4px 6px;
   border-radius: 30px;
   color: black;
}
.right ul li a:hover{
    padding: 6px 20px 6px 20px;
    background-color:  #4A8645;
    color: white;
    border-radius: 30px;
 }
.left{
    padding: 0px 0px 15px 2.5vw;
}
.left img{
    height: 10vh;
    width: 16vw;
}
.right ul li img{
    cursor: pointer;
    height: 2.5vw;
    width: 2.5vw;
}
/* complete-page  */
#complete-page::before{
    content: " ";
    position: absolute;
    background-color:#E3F4E5;;
    height: 239%;
    width: 100%;
    z-index: -1;
}
#complete-page{
    padding: 71px 0px 0px 0px;
    height: 230vh;
}
/* Shop heading and coin  */
.shop-head-text{
    display: flex;
}
.shop-text{
    width: 40%;
}
.shop-text h1{
    font-size: 1.9rem;
    
    padding: 40px 0px 30px 40px;
}
.shop-text p{
    padding: 0px 0px 30px 40px;
}
.button12{
    display: flex;
}
.butn1{
    height: 6vh;
    width: 8vw;
    margin-left: 40px;
    font-weight: 600;
    border-radius: 15px;
    border: 2px solid #669F77;
    color: white;
    background-color: #669F77;
}
.butn1:hover{
    background-color: #4A8645;
    border: 2px solid #4A8645;
}
.butn2{
    display: flex;
    align-items: center;
    padding: 7x 7px 20px 20px;
    justify-content: center;
    height: 6vh;
    width: 8vw;
    margin-left: 20px;
    font-weight: 600;
    border-radius: 15px;
    border: 2px solid #669F77;
}
.butn2:hover{
    background-color: #4A8645;
    border: 2px solid #4A8645;
}
.butn2 p{
    height: 1vh;
    width: 0vw;
    padding: 4px 19px 18px 0px;
}
.butn2 p:hover{
    color: white;  
}
.butn2 img{
    padding: 1px 0px 0px 4px;
    height: 3.9vh;
    width: 2vw;
}
.shop-head-text .coinimage img{
    padding-left: 100px;
    height: 54vh;
    width: 25vw;
}
/* PRODUCTS */
.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 20vw;
    height: 70vh;
    margin-right: 24px;
  }
  
  .product-image {
    border-radius: 30px;
    position: relative;
    width: 100%;
    height: 55vh;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #4A8645;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background-color: #669F77;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  .merch{
    padding-left: 40px;
  }
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 0.6vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #E3F4E5;
    cursor: pointer;
    z-index: 7;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    color: black;
    opacity: 1;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }
/* Vouchers */
  .vouch{
        padding-left: 30px;
  }
  .box-row1{
    padding: 15px 0px 15px 25px;
    display: flex;
    gap: 25px;
  }
  .box-row1 .box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 40vh;
    width: 20vw;
    border: 2px solid green;

  }
  .box img{
    height: 37vh;
     width: 17vw;
  }
/* footer page styling */
footer::before{
    content: " ";
    position: absolute;
    background-color:  #5c9e69;
    height: 9%;
    width: 100%;
    z-index: -1;
}
footer h5 {
    color: white;
    font-size: 1.10rem;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
}
.footer img{
    height: 3.5vh;
    width: 2vw;
    padding: 3px 3.5px 0px 0px;
}
/* login/tellus/sign-up page styling */
dialog button {
    margin-top: 23px;
    background-color: #E3F4E5;
    color:#669F77;
    width: 129.875px;
    height: 33.839px;
    border-radius: 23.903px;
    flex-shrink: 0;
    border: 1px solid #669F77 ;
    cursor: pointer;
}
#authDialog1 {
 
    width: 50.38vw;
    padding: 0px;
    border: none;
}

dialog a {
    color: white;
}
#password1 {
    margin: 0px 0px 0px 105px;
}
dialog {
    margin: 72px 100px 72px 350px;
    background-color: #E3F4E5 ;
}
dialog .left1{
    padding: 56px 23px 23px 23px;
    width: 56%;
    border-radius: 0px 39.77px 39.77px 0px;
    background-color: #669F77 ;
}
dialog h1 {
    color: white;
    font-size: 2rem;
}
dialog h2 {
    margin: 12px 0px 17px 0px;
    color: white;
    font-size: 1.05rem;
}
label {
  color: white;
}
input {
    margin:10px 0px 12px 0px;
    border: none;
    width: 15vw;
    height: 29.962px;
    flex-shrink: 0;
    border-radius: 23.903px;
background: #D9D9D9;
}
dialog .right2 {
    padding: 23px 0px 0px 0px;
}
.cross{
    padding: 9px ;
    height: 23px;
    width: 23px
}
.farmer {
    padding: 0px 0px 30px 6px;
    height: 45vh;
    width: 22vw;
}
dialog h3 {
    text-align: center;
    margin: 23px 0px 45px 37px;
    font-size: 2.5rem;
}
/* style for sign up pages */
#authDialog2 {
    width: 50.38vw;
    /* display: flex;  */
    flex-direction: row;
    padding: 0px;
    border: none;
    }
dialog .container {
    display: flex;
}
.namaste {
    margin: 65px 0px 125px 23px;
    height: 48vh;
    width: 21vw;
}
/* style for tell us more pages */
#authDialog3 {
    width: 50.38vw;
     flex-direction: row;
    padding: 0px;
    border: none;
    }
    .professions {
        margin: 65px 0px 125px 2px;
    height: 48vh;
    width: 25vw;
    }
    #dob {
        width: 12vw;
        margin: 10px 0px 0px 0px;
        cursor: pointer;
        padding: 0px 23px 0px 23px;
    }

